body {
    font-family: Arial, sans-serif;
    background-image: url('bgg.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    color: #333;
}

header {
    background-color: rgba(105, 142, 211, 0.8);
    padding: 1em;
    text-align: center;
}

header nav a {
    margin: 0 1em;
    padding: 0.5em 1em; /* Add padding to make the button more prominent */
    text-decoration: none;
    color: #ffffff;
    background-color: #0f1110; /* Add a background color */
    border: 2px solid #ccc; /* Add a border */
    border-radius: 5px; /* Optional: Add rounded corners */
    position: relative; /* Position relative for further adjustments */
    top: 80px; /* Move it more to the bottom */
    transition: background-color 0.3s, color 0.3s, top 0.3s; /* Smooth transition for hover effects */
}

header nav a:hover {
    background-color: #75bcd2; /* Background color on hover */
    color: #ffffff; /* Text color on hover */
    top: 82px; /* Slightly move the button on hover for a subtle effect */
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2em;
    margin: 2em auto;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5em 0 0.2em;
}

form input {
    margin-bottom: 1em;
    padding: 0.5em;
}

button {
    padding: 0.5em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    
}
button:hover {
    background-color: #419852; /* Background color on hover */
    color: #ffffff; /* Text color on hover */
    top: 82px; /* Slightly move the button on hover for a subtle effect */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    margin-top: 2em;
}

.grid-item {
    background-color: #fff;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    border-radius: 10px;
}
